{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>PPW-STORY1</title>
</head>

<body>
    <h1 style="font-family: monospace; text-align: center;">Profil Saya</h1>

    <div class="row">
      <div class="column left" style="background-color:paleturquoise;">
        <div class="card" style="width: 250px; background-color: white;">
        <img src="https://maung.id/static/9d46a770ead53421b748573caa5a49be/9f583/FR50.jpg" alt="Avatar" style="width:100%">
        <div class="container">
        <h2 style="font-family:monospace; text-align: center;">Thariq Razan</h2>
        <!-- <p style="font-family:monospace; text-align: center;">Information System Student</p> -->
              
              
        <div class="share-buttons">
        <a href="mailto:?subject=&body=:%20http%3A%2F%2Fmailto%3Athariqrazan11%40gmail.com" target="_blank" title="Send email">
          <img alt="Send email" src="https://www.freepnglogos.com/uploads/logo-gmail-png/logo-gmail-png-brand-brands-gmail-logo-logos-icon-22.png" 
          class="center" />
        </a>
        </div>
        </div>
        </div>
      </div>
      <div class="column right" style="background-color:peachpuff;">
        <table style="font-family:monospace;">
        <tr><td>Nama</td> <td>: Thariq Razan</td></tr>
        <tr><td>Tempat Kuliah</td> <td>: Universitas Indonesia</td></tr>
        <tr><td>Angkatan</td> <td>: MAUNG/2019</td></tr>
        <tr><td>NPM</td> <td>: 1906398881</td></tr>
        <tr><td>Hobi</td> <td>: Menonton Film</td></tr>
        <tr><td>Deskripsi Singkat</td> <td>: Saya seorang mahasiswa sistem informasi 
            yang antusias dalam mempelajari hal-hal baru</td></tr>
        </table>

        <br></br> 
        <br></br>
        <table border=1 class=pendidikan> 
        <caption style="font-family: monospace;"><b> Riwayat Pendidikan </caption>
        <tr><th>Tahun</th> <th>Sekolah/Universitas</th></tr>
        <tr><td align="center">2019-Sekarang</td> <td align="center">Fasilkom UI</td></tr>
        <tr><td align="center">2016-2019</td> <td align="center">SMA Labschool Kebayoran</td></tr>
        <tr><td align="center">2013-2016</td> <td align="center">SMP Labschool Kebayoran</td></tr>
        <tr><td align="center">2007-2013</td> <td align="center">SD Bakti Mulya 400</td></tr>
        </table>
      </div>
    </div>
</body>

<body>
    <div>n</div>
</body>

</html>
