* {
    box-sizing: border-box;
    }

    /* Create two unequal columns that floats next to each other */
    .column {
    float: left;
    padding: 10px;
    }

    .left {
    width: 25%;
    }

    .right {
    width: 75%;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 40%;
          border-radius: 5px;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        img {
          border-radius: 5px 5px 0 0;
        }
        
        .container {
          padding: 2px 16px;
        }

        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 20%;
        }

    .pendidikan{
        margin-left: auto;
        margin-right: auto;
    }